<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InitiativeTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <InitiativeTracker.Properties.Settings>
            <setting name="TrackHealth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackArmor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackAbilities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PCcolor" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="NPCcolor" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="MOBcolor" serializeAs="String">
                <value>LightCoral</value>
            </setting>
            <setting name="ShowType" serializeAs="String">
                <value>True</value>
            </setting>
        </InitiativeTracker.Properties.Settings>
    </userSettings>
</configuration>